console-menu
grpcio-tools
grpcio
importlib
prettytable
psutil
python-dateutil
# This package only works correctly on Windows,
# but add this specifier to allow installing it on
# Linux, which is helpful for pypi builds and readthedocs.
pywin32; platform_system=="Windows"
typing-extensions
